a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: underline;
    color: rgb(219, 217, 217);
}
.head{
    text-align: center;
    border: 1px solid black;
    background-color: rgba(196, 187, 187, 0.932);
}
.d1{
    text-align: center;
    border: 1px solid black;
    padding: 15px 0 15px 0;
    margin: 5px 0 5px 0;
}
.footer{
    text-align: center;
    background-color: rgb(229, 227, 227);
    height: 30px;
    
}
.ae{
    border: 1px solid black;
    padding: 5px 15px 5px 15px;
    margin: 5px 0 5px 0;
}
.jp{
    border: 1px solid black;
    padding: 5px 15px 5px 15px;
    margin: 5px 0 5px 0;
}
img{
    height: 300px;
}
.imgdiv{
    border: 1px solid black;
}
#circleButton {
    width: 50px;
    height: 50px;
    background-color: #007bff;
    color: #fff;
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  #circleButton:hover {
    background-color: #0056b3;
  }
.oa1 img{
    height: 40px;
}