.header{
    text-align: center;
    border: 0.5px solid black;
    border-radius: 15px;
    background-color: white;
    padding: 15px;
    margin: 15px;
}
.header li{
    cursor: pointer;
}
.about img{
    height: 300px;
}
.about{
    padding: 150px;
    border: 0.5px solid black;
    border-radius: 15px;
    margin: 15px;
    background-color: white;
}
.leader{
    border-top: 1px solid black;
    padding-top: 15px;
}
body{
    background-image: url(1.jpg);
    background-size: cover;
}
.post{
    padding: 150px;
    border: 0.5px solid black;
    border-radius: 15px;
    margin: 15px;
    background-color: white;
}
.data{
    padding: 150px;
    border: 0.5px solid black;
    border-radius: 15px;
    margin: 15px;
    background-color: white;
}
a{
    text-decoration: none;
    color: black;
}
.rider,.game{
    padding: 150px;
    border: 0.5px solid black;
    border-radius: 15px;
    margin: 15px;
    background-color: white;
}
.rider p{
    cursor: pointer;
}
.footer{
    border-top: 0.5px solid black;
    background-color: aliceblue;
}
summary{
    cursor: pointer;
}